.company-info {
    font-family: var(--font-plus);

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__image-box {
        flex-basis: 50%;

        &--img {
            width: 75%;
            display: block;
        }
    }

    &__about {

        flex-basis: 60%;
        padding-top: 1.5rem;
        margin-left: -125px;

        &--title {
            font-size: 4rem;
            font-family: var(--font-space);
            color: var(--font-clr);
            margin-bottom: 15px;
            // font-family: var(--font-plus);
        }

        &--text {
            font-size: 1.2rem;
            font-family: var(--font-plus);
            color: var(--txt-clr);
            font-weight: 500;
            width: 90%;
            margin-bottom: 1.5rem;

        }

        &--link {

            font-size: 20px;

            gap: 7px;
            margin-bottom: 1rem;
            border-bottom: 2px solid var(--lite-gray);
            padding-bottom: 2px;


        }

        &--link i {
            margin-top: 6px;
            transform: rotate(310deg);
            transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
            color: var(--font-clr);


        }

        &--link:hover i {
            margin-top: 6px;
            transform: rotate(360deg);

        }

        &--services {
            margin-top: 1.5rem;
            font-size: 1.5rem;
            // font-family: var(--font-plus);
            font-weight: 500;
            color: var(--txt-clr);
            margin-bottom: 1.5rem;

        }

        &--list {
            display: flex;
            flex-wrap: wrap;
            margin-left: 18px;

            // gap: 10px;
        }

        &--list li::after {
            content: "";
            position: absolute;
            background-color: var(--font-clr);
            height: 6px;
            width: 6px;
            left: -12px;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        &--list-ar li::after {
            left: 0;
            right: -18px;
        }

        &--list li {
            width: 33.333%;
            font-size: 1rem;
            margin-bottom: 1rem;
            line-height: 100%;
            position: relative;

        }
    }



}

@media only screen and (max-width: 1000px) {
    .company-info {

        &__about {
            padding-top: 1rem;

            &--title {
                font-size: 2.5rem
            }

            &--text {
                font-size: 1rem;
                width: 100%;

            }

            &--link {

                font-size: 18px;


            }

            &--services {
                font-size: 1.2rem;
            }
        }
    }


}

@media only screen and (max-width: 750px) {
    .company-info {

        &__container {
            flex-direction: column;
        }

        &__image-box {


            &--img {
                width: 100%;

            }
        }

        &__about {
            padding-top: 1rem;
            margin-left: 0px;

            &--title {
                font-size: 2.5rem
            }

            &--text {
                font-size: 1rem;
                width: 100%;

            }

            &--link {

                font-size: 18px;


            }

            &--services {
                font-size: 1.2rem;
            }
        }
    }


}

.company-overview {
    background: url('/images/left.svg'), url('/images/right-decore.svg');
    background-repeat: no-repeat;
    background-position: left 70%, right;
    // background-size: 40%;




    &__company-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("/images/overview.webp");
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-space);
        margin-top: 2rem;
    }

    &__logo {
        text-align: center;
        padding-top: 5rem;

        position: relative;
    }

    &__logo-img {
        // position: absolute;
        opacity: 0.2;
        filter: drop-shadow(3px 2px 2px #808080);
        width: 400px;
        // height: 80vh;
        // -webkit-box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.75);
        // box-shadow: 3px 2px 21px -3px rgba(0, 0, 0, 0.75);

    }

    &__txt {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        font-size: 4.5rem;
        color: #878787;
        font-family: var(--font-space);
        color: var(--old-web-page-clr);
        // margin-bottom: 15px;

    }

    &__para {
        // color: #555;
        color: var(--txt-clr);
        font-size: 1.3rem;
        font-family: var(--font-plus);
        width: 80%;
        margin: auto;
        margin-top: 1.3rem;

        line-height: 1.5;
    }

    &__about {
        // background-color: var(--bg-lite);
        background-color: var(--lite-shade-4);
        width: 90%;
        margin: 2rem auto;
        padding-top: 2rem;
        padding-bottom: 3.5rem;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    &__heading {
        font-size: 2.1rem;
        color: var(--txt-clr);
        font-family: var(--font-space);
        margin-bottom: .5rem;
        margin-top: 1rem;
    }

    &__svgs {
        width: 70px;
        filter: drop-shadow(3px 0px 2px #6772e5);
    }

    &__paragraph {
        width: 80%;
        margin: auto;
        font-size: 1.2rem;
        font-family: var(--font-plus);
        line-height: 1.5;
        text-align: center;
    }







}

@media only screen and (max-width: 1450px) {
    .company-overview {
        background-size: 25% !important;
        background-position: left 60%, right;

    }

}

@media only screen and (max-width: 1250px) {
    .company-overview {
        // background-size: 20% !important;
        background-position: left 60%, right;


        &__header {
            font-size: 2.5rem;
        }

        &__para {
            font-size: 1rem;
        }

    }

}

@media only screen and (max-width: 950px) {
    .company-overview {
        // background-size: 20% !important;
        background-position: left 50%, right;

        &__txt {
            top: 30%;
        }

        &__header {
            font-size: 2.5rem;
        }

        &__para {
            font-size: 1rem;
            width: 100%;
        }

    }

}

@media only screen and (max-width: 750px) {
    .company-overview {


        &__txt {
            top: 20%;
        }

        &__logo {
            padding-top: 2.5rem;
        }

        &__header {
            font-size: 2.5rem;
        }

        &__para {
            font-size: .7rem;
        }

        &__logo-img {
            width: 300px;
        }

        &__about {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__heading {
            font-size: 1.5rem;
        }

        &__paragraph {

            font-size: 1rem;

        }

        &__svgs {
            width: 60px;
        }

    }

}

@media only screen and (max-width: 550px) {
    .company-overview {
        background-position: left 40%, right;


        &__txt {
            top: 20%;
        }

        &__logo {
            padding-top: 2.5rem;
        }

        &__header {
            font-size: 2.5rem;
        }

        &__para {
            font-size: .7rem;
        }

        &__logo-img {
            width: 300px;
        }

    }

}

.process__kaizen {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;

    align-items: flex-start;
}

.process__kaizen img {
    // width: 80%;

    display: block;
    // min-height: 100vh;
    // margin: auto;
    // background-color: var(--lite-shade-4);
}